.container-launches {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  
  height: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  padding: 24px;
  
}


.container-launches .launches-grid-wrapper {
  flex-grow: 1;
  height: 0px;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 5px;
}



.title {
  margin-bottom: 24px;
  color: #1e293b;
}

.search-field {
  width: 100%;
  margin-bottom: 24px;
}

.launches-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;

  
  height: calc(100% - 48px);
  overflow: auto;
  padding: 24px;
  align-items: flex-start;
  
}

.launch-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;

  
  cursor: pointer;
  
}

.launch-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding-top: 16px;
}

.date-text {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #64748b;
  font-size: 14px;
}

.date-text mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}


.status-success[class] {
  background-color: #e2fbe8;
  color: #1e7e34;
}

.status-error[class] {
  background-color: #fde8e8;
  color: #c82333;
}

:host ::ng-deep mat-card-header .mat-mdc-card-header-text{
  flex-grow: 1;
}